<div class="how-it-works">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="section-title">How It Works</h2>
        <p class="section-subtitle">Simple steps to find and book the perfect laser treatment for you.</p>
      </div>
    </div>

    <div class="row steps-row">
      <div class="col-md-4">
        <div class="step-card">
          <h3 class="step-title">Search for Clinics</h3>
          <p class="step-description">Use filters like location, treatment type, and device brand to find the best clinics near you.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="step-card">
          <h3 class="step-title">Choose Your Treatment</h3>
          <p class="step-description">Compare services, view prices, and read reviews to decide.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="step-card">
          <h3 class="step-title">Book Your Appointment</h3>
          <p class="step-description">Select a time that suits you and confirm your booking in just a few clicks.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top Offers Section -->
<div class="top-offers">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="offers-title">Top Offers</h2>
      </div>
    </div>

    <div class="row">
      <!-- Offer Card 1 -->
      <div class="col-md-6">
        <div class="offer-card">
          <div class="offer-discount">25% Offer</div>
          <div class="offer-image">
            <img src="../../../../../../assets/imgs/Rectangle_1.png" alt="Laser Treatment" class="img-fluid">
          </div>
          <div class="offer-content">
            <h3 class="offer-title">Lorem ipsum dolor sit amet.</h3>
            <p class="offer-description">Lorem ipsum dolor sit amet consectetur. Mi fames cras viverra pharetra tristique</p>
            <div class="offer-details">
              <div class="clinic-info">
                <i class="bi bi-patch-plus-fill"></i> Clinic Name Here
              </div>
              <div class="location-info">
                <i class="bi bi-geo-alt-fill"></i> Cairo Government
              </div>
              <span>5000 LE</span>
            </div>
            <div class="offer-price">

              <button class="btn-favorite">
                <i class="fa fa-heart-o"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Offer Card 2 -->
      <div class="col-md-6">
        <div class="offer-card">
          <div class="offer-discount">25% Offer</div>
          <div class="offer-image">
            <img src="../../../../../../assets/imgs/Rectangle_1.png" alt="Laser Treatment" class="img-fluid">
          </div>
          <div class="offer-content">
            <h3 class="offer-title">Lorem ipsum dolor sit amet.</h3>
            <p class="offer-description">Lorem ipsum dolor sit amet consectetur. Mi fames cras viverra pharetra tristique</p>
            <div class="offer-details">
              <div class="clinic-info">
                <i class="bi bi-patch-plus-fill"></i> Clinic Name Here
              </div>
              <div class="location-info">
                <i class="bi bi-geo-alt-fill"></i> Cairo Government
              </div>
            </div>
            <div class="offer-price">
              <span>5000 LE</span>
              <button class="btn-favorite">
                <i class="fa fa-heart-o"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Offer Card 3 -->
      <div class="col-md-6">
        <div class="offer-card">
          <div class="offer-discount">25% Offer</div>
          <div class="offer-image">
            <img src="../../../../../../assets/imgs/Rectangle_1.png" alt="Laser Treatment" class="img-fluid">
          </div>
          <div class="offer-content">
            <h3 class="offer-title">Lorem ipsum dolor sit amet.</h3>
            <p class="offer-description">Lorem ipsum dolor sit amet consectetur. Mi fames cras viverra pharetra tristique</p>
            <div class="offer-details">
              <div class="clinic-info">
                <i class="bi bi-patch-plus-fill"></i> Clinic Name Here
              </div>
              <div class="location-info">
                <i class="bi bi-geo-alt-fill"></i> Cairo Government
              </div>
            </div>
            <div class="offer-price">
              <span>5000 LE</span>
              <button class="btn-favorite">
                <i class="fa fa-heart-o"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Offer Card 4 -->
      <div class="col-md-6">
        <div class="offer-card">
          <div class="offer-discount">25% Offer</div>
          <div class="offer-image">
            <img src="../../../../../../assets/imgs/Rectangle_1.png" alt="Laser Treatment" class="img-fluid">
          </div>
          <div class="offer-content">
            <h3 class="offer-title">Lorem ipsum dolor sit amet.</h3>
            <p class="offer-description">Lorem ipsum dolor sit amet consectetur. Mi fames cras viverra pharetra tristique</p>
            <div class="offer-details">
              <div class="clinic-info">
                <i class="bi bi-patch-plus-fill"></i> Clinic Name Here
              </div>
              <div class="location-info">
                <i class="bi bi-geo-alt-fill"></i> Cairo Government
              </div>
            </div>
            <div class="offer-price">
              <span>5000 LE</span>
              <button class="btn-favorite">
                <i class="fa fa-heart-o"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
