<!-- Bootstrap Navbar -->
<app-nav-bar></app-nav-bar>

<!-- Main Content -->
 <div class="bk-grey">
  <main class="container pb-4">
    <router-outlet></router-outlet>
  </main>
 </div>


<!-- Bootstrap Footer -->
<app-footer></app-footer>

<!-- <footer class="bg-light py-4 mt-auto border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">&copy; 2024 BookingLaser. {{ 'footer.allRightsReserved' | translate }}</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
         <div class="btn-group" role="group" aria-label="Language Switcher">
          <button
            type="button"
            class="btn btn-sm"
            [class.btn-primary]="currentLanguage === 'en'"
            [class.btn-outline-primary]="currentLanguage !== 'en'"
            (click)="switchLanguage('en')">
            English
          </button>
          <button
            type="button"
            class="btn btn-sm"
            [class.btn-primary]="currentLanguage === 'ar'"
            [class.btn-outline-primary]="currentLanguage !== 'ar'"
            (click)="switchLanguage('ar')">
            العربية
          </button>
        </div>
      </div>
    </div>
  </div>
</footer> -->
