<div class="blog-container">
  <!-- Blog Header Image -->
  <div class="blog-image-container">
    <img src="../../../../../../assets/imgs/blogs/Frame 1618873376.png" alt="Medical Treatment" class="blog-image">
    <div class="image-overlay"></div>
  </div>

  <!-- Blog Content -->
  <div class="blog-content">
    <h2 class="blog-title">Blog Header Will be Here</h2>
    <div class="blog-metadata">
      <span class="date">Jun 23, 2024</span> • <span class="author">Admin</span>
    </div>

    <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec dui nunc mattis enim ut tellus. Sociologist viverra mauris in aliquam sem fringilla ut morbi venenatis. Amet risus nullam eget felis eget nunc lobortis mattis. Sociologist risus varius blandit praesent.</p>

    <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec dui nunc mattis enim ut tellus. Sociologist viverra mauris in aliquam sem fringilla ut morbi venenatis. Amet risus nullam eget felis eget nunc lobortis mattis. Sociologist risus varius blandit praesent.</p>

    <ul class="blog-list">
      <li>Lorem ipsum dolor sit amet</li>
      <li>Non blandit massa enim nec scelerisque</li>
      <li>Neque sodales ut etique quispiam</li>
    </ul>

    <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec dui nunc mattis enim ut tellus. Sociologist viverra mauris in aliquam sem fringilla ut morbi venenatis. Amet risus nullam eget felis eget nunc lobortis mattis. Sociologist risus varius blandit praesent.</p>

    <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec dui nunc mattis enim ut tellus. Sociologist viverra mauris in aliquam sem fringilla ut morbi venenatis. Amet risus nullam eget felis eget nunc lobortis mattis. Sociologist risus varius blandit praesent.</p>
  </div>

  <!-- Join as Clinic Section -->
  <!-- <div class="join-clinic-section">
    <div class="join-content">
      <div class="join-text">Want to Join as Clinic?</div>
      <a href="#" class="join-button">Let's Start <i class="bi bi-arrow-right"></i></a>
    </div>
  </div> -->
</div>
