// signup-success.component.scss
@use '../../../../../assets/scss/variables.scss' as *;

.auth-container {
  position: relative;
  background-color: $light-color;
}

.auth-form-wrapper {
  min-height: 100vh;
  padding: 5rem 3rem 3rem 3rem;

  @media (max-width: 991.98px) {
    padding: 4rem 1.5rem 2rem 1.5rem;
  }
}

.auth-form-content {
  width: 100%;
  max-width: 450px;
}

.success-icon {
  color: $success-color;
  font-size: 4rem;

  i {
    background-color: rgba($success-color, 0.1);
    border-radius: 50%;
    padding: 1rem;
  }
}

.title {
  font-family: $font-family-heading;
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
  color: $text-dark;

  @media (max-width: 767.98px) {
    font-size: 2rem;
  }
}

.subtitle {
  color: $text-gray;
  font-size: $font-size-lg;
  line-height: 1.6;
  margin-bottom: $spacer-4;

  @media (max-width: 767.98px) {
    font-size: 1rem;
  }
}

.home-btn {
  background: $primary-blue;
  border-radius: $border-radius-pill;
  font-size: $font-size-lg;
  padding: $spacer-3 0;
  border: none;

  &:hover {
    background: darken($primary-blue, 5%);
  }

  @media (max-width: 767.98px) {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}

.auth-image-wrapper {
  position: relative;
  overflow: hidden;
}

.auth-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile Styles */
@media (max-width: 991.98px) {
  .auth-container {
    height: auto;
    min-height: 100vh;
  }

  .auth-form-wrapper {
    min-height: auto;
    padding-top: 6rem;
  }
}
